body {
    font-family: Arial, sans-serif; /* Ändere den Font auf Arial */
    margin: 0;
    display: flex;
    justify-content: center; /* Zentriere das Grid horizontal */
    align-items: center; /* Zentriere das Grid vertikal */
    height: 100vh; /* Setze die Höhe auf 100% der Bildschirmhöhe */
}

.container {
    text-align: center;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(4, 200px);
    gap: 2px;
}

.cell {
    border: 1px solid black;
	background-color: #A9A9A9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.cell:nth-child(1n + 2) {
    background-color: #fff; /* Ausgrauen der ersten Zelle in jeder Zeile */
}

.cell.x {
    color: blue; /* Farbe für X */
	font-size: 56px;
}

.cell.o {
    color: red; /* Farbe für O */
	font-size: 56px;
}

button {
    margin-top: 20px;
	font-size: 32px;
}
